/* Custom styling and animations */

/* Transitions */
body,
div,
button,
input {
  transition: background-color 0.3s ease;
}

/* Apply transitions only to text elements */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  transition: color 0.3s ease;
}

/* Theme transition animation */
.theme-transitioning::before {
  display: none;
}

/* Animation for the icon */
@keyframes scale-in-out {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.icon-animate {
  animation: scale-in-out 0.3s ease;
  will-change: transform;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}